{% extends 'layouts/base.html' %} {% load static %} {% block description %}

{% load static_mobile %}
<meta name="description" content="Частная стоматология в Октябрьском районе города Красноярск (на ул. Киренского) СК Корона. Платная современная стоматология с выгодными ценами!"> 
<meta property="og:site_name" content="СК «Корона»">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="WebSite">
<meta property="og:title" content="Стоматология в Красноярске Корона лечение кариеса, отбеливание зубов, стоматолог запись цены=">
<meta property="og:description" content="Частная стоматология в Октябрьском районе города Красноярск (на ул. Киренского) СК Корона. Платная современная стоматология с выгодными ценами!">
<meta property="og:image" content="1">
<meta property="og:image:width" content="968">
<meta property="og:image:height" content="504">
<meta property="og:url" content="https://korona24.ru/">
{% endblock %} {% block content %}

<section class='main'>
    <img src="{% static_img 'img/tooth.png' %}" alt="Зуб" class="main__bg">
    <div class='container'>
        <div class='main__inner'>
            <div class="main__slider">
                <div class='swiper-container'>
                    <div class='swiper-wrapper'>
                        {% for discount in all_discount %}
                        <div class='swiper-slide'>
                            <div class="main__slider-item">
                                <h1 class="main__slider-title title">
                                    {{ discount.title | safe }}
                                </h1>
                                <p class="main__slider-desc subtitle"> {{ discount.description | safe}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <div id="bullets" class='main__slider-pagination'></div>
                <div class="main__slider-nav">
                    <div class='main__slider-prev swiper-button-prev btn-brown'>
                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 1L2 8L9 15" stroke="#fff" stroke-width="1.5"/>
                        </svg>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class='main__slider-next swiper-button-next btn-brown'>
                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L8 8L1 15" stroke="fff" stroke-width="1.5"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='about-index'>
    <img src="{% static_img 'img/girl.jpg' %}" alt="Девушка" class="about-index__img">
    <div class='container'>
        <div class='about-index__inner'>
            <p class="about-index__title">
                <span class="about-index__title-sub">О нас</span> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> О здоровых зубах и красивой улыбке мечтает каждый из нас. Для того, чтобы мечта стала реальностью, необходимо найти стоматологическую клинику, которая будет радовать
                качеством и современным подходом к работе. Если вы ищите стоматологию в Октябрьском районе города Красноярска, обратитесь в стоматологическую клинику «Корона».
            </p>
            <div class="about-index__items">
                <div class="about-index__item">
                    <div class="about-index__item-num text-druk">{{ site_settings.years_on_market }}</div>
                    <div class="about-index__item-title">Лет на рынке <br> стоматологии
                    </div>
                </div>
                <div class="about-index__item">
                    <div class="about-index__item-num text-druk">{{ site_settings.count_operations }}</div>
                    <div class="about-index__item-title">Операций под общим <br> наркозом
                    </div>
                </div>
                <div class="about-index__item">
                    <div class="about-index__item-num text-druk">{{ site_settings.count_doctors }}</div>
                    <div class="about-index__item-title">Профессиональных <br> врача
                    </div>
                </div>
                <div class="about-index__item">
                    <div class="about-index__item-num text-druk">{{ site_settings.count_patients }}</div>
                    <div class="about-index__item-title">Пациентов в год <br> получают новые улыбки</div>
                </div>
            </div>
            <a href="{% url 'pages:about' %}" class="about-index__link">
                <span>Подробнее о нас</span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.0863 7.112L19.7605 8.4378L25.3853 14.0626H0.9375V15.9377H25.3852L19.7605 21.5623L21.0863 22.8881L28.9745 15.0001L21.0863 7.112Z" fill="#C39F7B"/>
                    </svg>
            </a>
        </div>
    </div>
</section>

<section class='service'>
    <div class='container'>
        <p class="service__title">Наши услуги</p>
        <div class='service__items'>
            {% for preview in main_services %}
            <div class="service__item">
                <p class="service__item-title text-druk">
                    {{ preview.get_title_span | safe }}
                </p>
                <ul class="service__item-list">
                    {{ preview.description | safe }}
                </ul>
                <a href="{{ preview.service.get_absolute_url }}" class="service__item-link btn-brown">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.869 5.68958L15.8084 6.75022L20.3083 11.2501H0.75V12.7501H20.3081L15.8084 17.2498L16.869 18.3105L23.1796 12L16.869 5.68958Z" fill="white"/>
                        </svg>
                </a>
                <div class="service__item-icon">
                    <img src="{{ preview.icon.url }}" alt="{{ preview.alt_icon }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>  
</section>

<section class='mission'>
    <div class='container'>
        <div class='mission__inner'>
            <img src="{% static_img 'img/tooth2.png' %}" alt="Зуб" class="mission__bg">
            <div class="mission__title">
                <span class="mission__title-sub">Миссия клиники</span> <strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; </strong> Оказание высокопрофессиональной стоматологической помощи в атмосфере комфорта, уюта и непринужденного общения.
            </div>
            <a class="mission__link" data-toggle="modal" data-target="#modal1">
                <span>Записаться на консультацию</span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.0863 7.11206L19.7605 8.43786L25.3853 14.0627H0.9375V15.9377H25.3852L19.7605 21.5624L21.0863 22.8882L28.9745 15.0001L21.0863 7.11206Z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
</section> 
<section class='info'>
    <div class='container'>
        <div class='info__inner'>
            <h2 class="info__title title2">качественное лечение зубов <br> без боли и стресса <span>врачем высшей <br> категории</span></h2>
            <div class="info__desc">
                <span>Первый филиал стоматологии «Корона» открылся в 2003 году. Тогда у нас была только терапия, ортопедия. Со временем,
                        мы поняли, что перспектива за имплантами и задумали открыть второй филиал с уклоном на хирургическую стоматологию.</span>
                <span>Но нам не хватало детской стоматологии, в 2016 году
                        мы расширяемся во втором филиале и открываем детскую стоматологию. На сегодняшний день мы предоставляем
                        все услуги, в штате у нас 23 сотрудника.</span>
            </div>
            <div class="info__video" onclick="onclickVideoMain()">
                <img id="video_image" src="{% static_img 'img/info.jpg' %}" alt="Лечение зуба">
                <iframe id="video" width="100%" height="395px"src="https://www.youtube.com/embed/IAKgLb3LQtQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                <a id="video_play" onclick="onclickVideoMain()" target="_blank" class="info__video-btn btn btn-brown">
                    <svg width="25" height="30" viewBox="0 0 25 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.600098 0.600098L24.6001 15.0001L0.600098 29.4001V0.600098Z" fill="white"/>
                    </svg>
                </a>
            </div>
            <div class="info__video-desc">
                О нашем подходе
                <span>2 мин.</span>
            </div>
            <div class="info__items">
                <div class="info__item">
                    <div class="info__item-icon">
                        <img src="{% static_img 'img/info1.svg' %}" alt="Восклицательный знак">
                    </div>
                    <p class="info__item-title">Еще не поздно</p>
                    <p class="info__item-desc">Наши специалисты способны разобраться даже с самой старой и сложной проблемой, на которую вы давно не находили времени.</p>
                </div>
                <div class="info__item">
                    <div class="info__item-icon">
                        <img src="{% static_img 'img/info2.svg' %}" alt="Часы">
                    </div>
                    <p class="info__item-title">Быстро</p>
                    <p class="info__item-desc">Передовые технологии позволяют за час провести практически любую операцию, лечение, восстановление.</p>
                </div>
                <div class="info__item">
                    <div class="info__item-icon">
                        <img src="{% static_img 'img/info3.png' %}" alt="Сердце">
                    </div>
                    <p class="info__item-title">Без боли</p>
                    <p class="info__item-desc">Передовые технологии позволяют за час провести практически любую операцию, лечение, восстановление.</p>
                </div>
                <div class="info__item">
                    <div class="info__item-icon">
                        <img src="{% static_img 'img/info4.svg' %}" alt="Доступно">
                    </div>
                    <p class="info__item-title">Доступно</p>
                    <p class="info__item-desc">Даже премиум-услуги, такие как имплантация и протезирование винирами, доступны благодаря гибкой системе акций и скидок.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class='zone'>
    <div class='container'>
        <div class='zone__top'>
            <h2 class="title2">
                зона максимального <br> <span>комфорта</span>
            </h2>
            <a href="http://vr.korona24.ru/" class="zone__link">
                <span>Виртуальный тур по клинике</span>
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5565 13L8.125 7.5286V18.4714L17.5565 13ZM18.8435 11.869C19.0427 11.983 19.2083 12.1477 19.3234 12.3463C19.4386 12.5449 19.4992 12.7704 19.4992 13C19.4992 13.2295 19.4386 13.455 19.3234 13.6536C19.2083 13.8523 19.0427 14.0169 18.8435 14.131L8.50362 20.1305C7.65862 20.6212 6.5 20.0606 6.5 18.9995V7.00048C6.5 5.93935 7.65862 5.37873 8.50362 5.86948L18.8435 11.869Z" fill="#C39F7B"/>
                </svg>
            </a>
        </div>
        <div class="zone__items"> 
            {% for image in gallery %}
            <div class="zone__item">
                <a data-fancybox='gallery' href="{{ image.image.url }}">
                    <img src="{{ image.image.url }}" alt='{{ image.description }}'>
                </a>
            </div>
            {% endfor %} 
        </div>
    </div>
</section>

<section class='expert'>
    <div class='container'>
        <div class='expert__inner'>
            <div class="expert__left">
                <h2 class="expert__title title2"><span>Лучшие</span> специалисты <br> красноярска
                </h2>
                <div class="expert__desc">За годы существования нашей клиники наши специалисты помогли более 20 000 пациентам обрести здоровую и красивую улыбку, решили более 5 000 сложных клинических случаев с использованием передовых технологий.</div>
                <a href="/about/" class="expert__link">
                    <span>Больше о врачах</span>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.0863 7.11182L19.7605 8.43762L25.3853 14.0624H0.9375V15.9375H25.3852L19.7605 21.5622L21.0863 22.8879L28.9745 14.9999L21.0863 7.11182Z" fill="#C39F7B"/>
                        </svg>
                </a>
                <div class="expert__bottom">
                    <div class="expert__slider-nav">
                        <div class='expert__slider-prev swiper-button-prev btn-brown'>
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 1L2 8L9 15" stroke="#fff" stroke-width="1.5"/>
                                </svg>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class='expert__slider-next swiper-button-next btn-brown'>
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L8 8L1 15" stroke="fff" stroke-width="1.5"/>
                                </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expert__right">
                <div class="expert__slider">
                    <div class='swiper-container'>
                        <div class='swiper-wrapper'>
                            {% for employee in employees %}
                            <div class='swiper-slide'> <a href="{{ employee.get_absolute_url }}">
                                <div class="expert__slider-item">
                                    <div class="expert__slider-item-img">  
                                        <img src="{{ employee.avatar_small.url }}" alt="{{ employee.position }}: {{ employee.name }}"> 
                                    </div>
                                    <div class="expert__slider-item-title">{{ employee.name }}</div>
                                    <div class="expert__slider-item-profession">{{ employee.position }}</div>
                                </div> </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
{% include 'main/application.html' %} 
{% if comments %}
<section class='feedback'>
    <div class='container'>
        <div class="feedback__top">
            <h2 class="feedback__title title2"><span>Отзывы</span> наших клиентов</h2>
            <div class="feedback__top-right">
                <div class="feedback__slider-nav">
                    <div class='feedback__slider-prev swiper-button-prev btn-brown'>
                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 1L2 8L9 15" stroke="#fff" stroke-width="1.5"/>
                            </svg>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class='feedback__slider-next swiper-button-next btn-brown'>
                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L8 8L1 15" stroke="fff" stroke-width="1.5"/>
                            </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class='feedback__inner'>
            <div class="feedback__left">
                <div class="feedback__left-title">Остаьте свой отзыв о нашей клинике</div>
                <div class="feedback__left-desc">Так вы можете помочь нашей клинике стать лучше</div>
                <a href="{% url 'comments:comments' %}" class="feedback__left-link">
                    <i>
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.869 6.14062L15.8084 7.20127L20.3083 11.7011H0.75V13.2012H20.3081L15.8084 17.7009L16.869 18.7615L23.1796 12.4511L16.869 6.14062Z" fill="#C39F7B"/>
                            </svg>
                        </i>
                    <span>Оставить отзыв</span>
                </a>
            </div>
            <div class="feedback__right">
                <div class="feedback__slider">
                    <div class='swiper-container'>
                        <div class='swiper-wrapper'> 
                            {% for comment in comments %}
                            <div class='swiper-slide'>
                                <div class="feedback__item">
                                    <div class="feedback__item-rating"> 
                                        {% for num in comment.get_estimate_to_list %}
                                        <div class="feedback__item-rating-item">
                                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M16.7366 6.17774L11.7777 5.45704L9.56086 0.962898C9.50031 0.839851 9.4007 0.740242 9.27765 0.679695C8.96906 0.527351 8.59406 0.654304 8.43976 0.962898L6.22297 5.45704L1.26398 6.17774C1.12726 6.19727 1.00226 6.26173 0.906561 6.35938C0.790861 6.4783 0.727106 6.63829 0.729303 6.80419C0.7315 6.97009 0.799471 7.12834 0.91828 7.24415L4.50617 10.7422L3.65851 15.6816C3.63864 15.7966 3.65135 15.9147 3.69522 16.0228C3.73908 16.1308 3.81235 16.2244 3.9067 16.2929C4.00104 16.3615 4.11271 16.4022 4.22902 16.4105C4.34534 16.4188 4.46165 16.3943 4.56476 16.3399L9.00031 14.0078L13.4359 16.3399C13.557 16.4043 13.6976 16.4258 13.8323 16.4024C14.1722 16.3438 14.4007 16.0215 14.3421 15.6816L13.4945 10.7422L17.0823 7.24415C17.18 7.14845 17.2445 7.02344 17.264 6.88673C17.3167 6.54493 17.0784 6.22852 16.7366 6.17774Z" fill="#C39F7B"/>
                                                </svg>
                                        </div> 
                                        {% endfor %}
                                    </div>
                                    <div class="feedback__item-title">{{ comment.title }}</div>
                                    <div class="feedback__item-desc">{{ comment.text }}</div>
                                    <div class="feedback__item-bottom">
                                        <span>{{ comment.client_name }}</span>
                                        <span>{{ comment.date_added }}</span>
                                    </div>
                                </div>
                            </div> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
{% endif %}

{% if site_settings.enabled_partners %}
<section class='dms'>
    <div class='container'>
        <h2 class="dms__title title2">наши партнеры <span>дмс</span></h2>
        <div class="dms__inner">
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms1.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms2.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms3.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms4.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms5.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms1.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms2.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms3.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms4.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms5.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms1.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms2.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms3.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms4.png' %}" alt="Партнёр">
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="dms__item">
                            <img src="{% static 'img/dms5.png' %}" alt="Партнёр">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} {% endblock %} {% block scripts %} 
{% endblock %}