{% extends 'layouts/base.html' %} 

{% load static %} 


{% block description %}
<meta name="description" content="Информация о стоматологии «Корона» в городе Красноярск."> 
<meta property="og:site_name" content="О нас СК «Корона»">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="WebSite">
<meta property="og:title" content="Стоматология в Красноярске Корона лечение кариеса, отбеливание зубов, стоматолог запись цены=">
<meta property="og:description" content="Информация о стоматологии «Корона» в городе Красноярск.">
<meta property="og:image" content="1">
<meta property="og:image:width" content="968">
<meta property="og:image:height" content="504">
<meta property="og:url" content="https://korona24.ru/">
{% endblock %} 


{% block title %} Контакты {% endblock %} 


{% block content %}
<section class='service-page'>
    <div class='container'>
        <a onclick="javascript:history.back();" class="service-page__back">
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L2 8L9 15" stroke="#C39F7B" stroke-width="1.5"/>
            </svg>
            <span>Назад</span>
        </a>
        <div class='service-page__inner'>
            <div class="service-page__sidebar">
                <h3 class="service-page__title">Категории</h3>
                <div class="service-page__sidebar-items"> 
                    {% for page in all_pages %}
                    <a href="{{ page.get_absolute_url}}" class="service-page__sidebar-item">
                        <span>{{page.title}}</span>
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L6 6L1 1" stroke="#CCCCCC" stroke-width="1.5"/>
                        </svg>
                    </a> 
                    {% endfor %}
                    {% for category in all_category %}
                    <a href="{{ category.get_absolute_url}}" class="service-page__sidebar-item">
                        <span>{{category.title}}</span>
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L6 6L1 1" stroke="#CCCCCC" stroke-width="1.5"/>
                        </svg>
                        <div class="header__service-hidden">  
                            {% for page in category.pages.all %}
                                <a href="{{ page.get_absolute_url}}" class="header__service-link">{{page.title}}</a>
                            {% endfor %}
                        </div>
                    </a> 
                    {% endfor %}
                </div>
            </div>
            <div class="service-page__content">
                <div class="about">
                    <h1 class="service-page__title title2">О нас</h1>
                    <div class="about__inner">
                        <div class="about__text">
                            <p>Первый филиал стоматология «Корона» открылся в 2003 году. Тогда у нас была только терапия, ортопедия. Со временем , я поняла, что перспектива за имплантами и я задумала открыть второй филиал с уклоном на хирургическую стоматологию.
                                В 2011 мы открываем второй филиал, где успешно ставим импланты, так как у нас работает замечательный хирург. Но нам не хватало детской стоматологии, в 2016 году мы расширяемся во втором филиале и открываем детскую стоматологию.
                                На сегодняшний день мы предоставляем все услуги, в штате у нас 23 сотрудника. Всех сотрудников подбираю с особой тщательностью. В команде работают не только профессионалы, но и прежде всего порядочные люди. На первом месте
                                у нас качество и индивидуальный подход к каждому пациенту. Я вникаю во все мелочи клиники,например, у нас в клинике всегда вкусный аромат, я покупаю самые лучшие масляные ароматы. Я проверяю снимки леченых каналов каждого
                                пациента. Подробнее о стоматологической клинике «Корона»:</p>
                        </div>
                        <div class="about__img">
                            <img src="{% static 'img/about.jpg' %}" alt="Девушка">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'main/application.html' %} 
{% endblock %}