{% load static %}

{% load static_mobile %}
 <section id="application" class='make-order'>
    <div class='container'>
        <div class='make-order__inner'>

            <h2 class="make-order__title title2">
                Запишитесь на <br> консультацию <span>к нашим <br> специалистам</span>
            </h2>
            <div class="make-order__desc">Заполните форму ниже и в ближайшее время с Вами <br> свяжется наш специалист, чтобы уточнить подробности</div>
        <form id="application_form" onsubmit="javascript:popapSend('modal1','application_form','{% url 'main:send_app' %}',modal_succes_id='modal2',hide=6500); return false;" class="make-order__form">
                {% csrf_token %}
                <div class="make-order__form-group">
                    <label for="">Ваше имя</label>
                    <input name="client_name" type="text" placeholder="Введите имя">
                </div>
                <div class="make-order__form-group">
                    <label for="">Ваш телефон</label>
                    <input name="phone_number" type="tel" placeholder="Введите телефон">
                    <div id="valid-phone" class="make-order__form-hint" style="color: red;"></div>
                </div>
                <div class="make-order__form-group">
                    <button class="make-order__form-btn btn-brown">Отправить запрос</button>
                </div>
                <div class="make-order__form-group">
                    <div class="make-order__form-hint">
                        Нажимая кнопку “Отправит запрос” вы подстверждаете свое <a href="/about/soglasie_na_obrabotku_dannyih">согласие на обработку персональных данных</a>
                    </div>
                    
                </div>
            </form>
            <img src="{% static_img 'img/girl2.png' %}" alt="Улыбающаяся девушка" class="make-order__bg">
        </div>
    </div>
</section>
 